# Cloudflare account token belonging to the account which owns the Journal database, used for backing up the database every week
CLOUDFLARE_TOKEN=
# Cloudflare account ID belonging to the account which owns the Journal database, used for backing up the database every week
CLOUDFLARE_ACCOUNT=
# Journal database (D1) ID, used for backing up the database every week
CLOUDFLARE_DB=
# A random 32-byte base64 value, used for deriving the hash for sharing keys via a QR code
KEY_SHARE_BASE=
# A Resend API key, used for sending password reset emails
RESEND_API_KEY=