main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

button {
    font-size: 3em;
    border: 1px solid gray;
    padding: 0.2em 0.5em;
    border-radius: .3em;
    transition: border 0.2s;
}

button:hover {
    border: 1px solid white;
}

button.logout {
    position: absolute;
    top: 0.3em;
    right: 0.2em;
    font-size: min(2em, 6vw);
}

.stats {
    position: absolute;
    bottom: .3em;
    left: .4em;
    font-size: min(1.6em, 4vw);
}

.search {
    position: absolute;
    bottom: .3em;
    right: .6em;
    font-size: min(2em, 6vw);
    cursor: pointer;
}