main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.nav-link {
    color: #ccc;
    font-size: 2em;
    font-weight: 400;
    transition: color 0.3s;
}

#lastYear.inactive {
    color: #333;
    text-decoration: none;
}

.top-right {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    pointer-events: none;
}

.top-right svg {
    font-size: 2em;
    cursor: pointer;
}

.top-right>* {
    pointer-events: all;
}

.logout {
    font-size: min(2em, 6vw);
    cursor: pointer;
}

.stats {
    position: absolute;
    bottom: 0.3em;
    left: 0.4em;
    font-size: min(1.6em, 4vw);
}

.key {
    position: absolute;
    top: 0.8em;
    left: 0.9em;
    display: flex;
    gap: 0.8em;
}

.key a {
    cursor: pointer;
}

.key-button {
    font-size: min(2em, 6vw);
}

.key-arrow {
    font-size: min(0.9em, 3.5vw);
    translate: -0.3em 0.2em;
}

.controls {
    position: absolute;
    bottom: calc(0.3em * 1.6);
    right: 0.9em;
    display: flex;
    gap: 1.4em;
}

.controls a {
    font-size: min(2em, 6vw);
    cursor: pointer;
}

#keyless-bar {
    font-size: 1.5em;
    margin-bottom: 2em;
    padding: 0.2em 3em;
    background: linear-gradient(90deg, #000 0%, #300 20%, #300 80%, #000 100%);
}

.hidden {
    display: none;
}

/* only show hover effects if mouse exists */
@media (hover: hover) and (pointer: fine) {
    .nav-link:hover {
        color: #fff;
    }
}

@media (max-width: 600px) {

    .stats,
    .controls {
        margin-bottom: 1.2em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    #keyless-bar {
        margin-bottom: 0.5em;
    }
}