/* CSS reset start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    color-scheme: dark;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 1.5;
    background-color: black;
}

button {
    background-color: unset;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    cursor: pointer;
}

input {
    font-family: inherit;
}

svg {
    display: block;
}

/* CSS reset end */

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/InterVariable.woff2') format('woff2');
}

:root {
    font-family: InterVariable, sans-serif;
    font-feature-settings: "liga"1, "calt"1, "ss03" !important;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        --font: InterVariable, sans-serif;
        --toastify-font-family: var(--font);
        font-family: var(--font);
    }
}

@media print {
    body {
        margin: 0 !important;
    }
}

.main-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ck-content {
    line-height: 1.6;
    word-break: break-word;
}

.editor-container_balloon-editor .editor-container__editor {
    min-width: 795px;
    max-width: 795px;
}

svg.svg-inline--fa {
    max-height: 1em;
}

a.back-arrow {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 0.2em;
    left: 0.5em;
}