.bubble {
    font-size: 1.3em;
    border: 2px solid #222;
    background-color: #0f0f0f;
    border-radius: 0.8em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    color: #ccc;
    gap: .7em;
    align-items: center;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.selections {
    display: flex;
    flex-direction: column;
}

select {
    padding: 0;
    background-color: transparent;
    outline: none;
}

button {
    width: fit-content;
    border: 2px solid #333;
    padding: 0.2em 0.6em;
    border-radius: 0.3em;
    transition: background-color 0.2s;
    margin-top: .4em;
}

button:hover {
    background-color: #1b1b1b;
}

.select-container {
    width: 9em;
}

.select-container * {
    cursor: pointer !important;
}

.select-control {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.select-value-container {
    padding: 0 !important;
}

.select-value-container * {
    color: #ccc !important;
    transition: color 0.3s;
}

.select-value-container:hover * {
    color: #eee !important;
}

.select-indicator-separator {
    display: none;
}

.select-menu,
.select-menu-list {
    max-height: unset !important;
    padding: 0 !important;
    border-radius: 0.5em !important;
    background-color: transparent !important;
}

.select-menu {
    border: 1px solid #222;
    width: 9.5em !important;
    translate: -0.25em 0;
    box-shadow: 0 0 1em #000000bb !important;
}

.select-option {
    background-color: #0f0f0f !important;
    color: #ccc;
    padding: 0.2em 0.5em !important;
}

.select-option.selected {
    color: #ccc;
    background-color: #333 !important;
}

.select-indicators-container * {
    color: #ccc !important;
}

.select-option:hover {
    background-color: #333 !important;
}

option:hover {
    background-color: #f00;
}