.calendar {
    font-size: min(4.2vw, 1.5rem);
    width: calc(21.6em + 12px);
    height: fit-content;
    outline: 2px solid #555;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border-radius: .3em;
    padding: .8em;
}

.calendar.loading {
    opacity: 0.5;
}

.top-bar {
    height: 2.5em;
    margin-bottom: 1.3em;
}

.week-days {
    height: 1em;
    margin-bottom: .3em;
    color: #777;
    cursor: default;
}

.top-bar, .week-days {
    display: flex;
    justify-content: center;
}

.top-bar .inner, .week-days .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.top-bar .inner {
    width: 95%;
    font-size: 1.1em;
}

.top-bar span {
    font-size: 1.2em;
}

.top-bar button {
    outline: none;
}

.week-days .inner {
    width: 90%;
    font-size: .8em;
}

.top-bar button {
    border: none;
    font-size: 1em;
    padding: 0;
}

.days {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.day, .offset {
    width: calc(20em / 7);
    height: calc(20em / 7);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.day {
    background-color: #1b1b1b;
    transition: filter .3s;
    border-radius: .2em;
}

.day:hover {
    /* using a brightness filter instead of background color allows 
    transition fade without impacting color changes from month switching */
    filter: brightness(1.5);
}

.day.today {
    outline: 2px solid #888;
    z-index: 1;
}

.day.has-entry {
    background-color: #333;
}

span.offset:first-of-type {
    height: calc(20em / 7 + 1px);
}