.calendar {
    font-size: min(4.2vw, 1.5rem);
}

#calendar-wrapper {
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    width: calc(21.6em + 12px);
    height: fit-content;
    outline: 2px solid #555;
    border-radius: 0.3em;
    margin-bottom: 1.5em;
}

.calendar-overlay {
    min-width: calc(21.6em + 12px);
    position: absolute;
    padding: 0.8em;
}

.calendar-month {
    min-width: calc(21.6em + 12px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
}

.top-bar {
    height: 2.5em;
    margin-bottom: 1.3em;
}

.week-days {
    height: 1em;
    margin-bottom: 0.3em;
    color: #777;
    cursor: default;
}

.top-bar,
.week-days {
    display: flex;
    justify-content: center;
}

.top-bar .month-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.top-bar .inner,
.week-days .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.top-bar .inner {
    width: 100%;
    font-size: 1.1em;
}

.top-bar .month {
    font-size: 1.2em;
}

.week-days .inner {
    width: 90%;
    font-size: 0.8em;
}

.top-bar .arrow {
    outline: none;
    border: none;
    font-size: 1em;
    padding: .4em .8em;
    filter: drop-shadow(0 0 .3em #000000) drop-shadow(0 0 .4em #000000);
}

.days {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 1.4em;
}

.day,
.offset {
    width: calc(20em / 7);
    height: calc(20em / 7);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.day {
    background-color: #1b1b1b;
    transition: filter 0.3s;
    border-radius: 0.2em;
}

.day.today {
    font-weight: 800;
}

.day.selected {
    outline: 2px solid #888;
    z-index: 1;
}

.day.has-entry {
    background-color: #333;
}

span.offset:first-of-type {
    height: calc(20em / 7 + 1px);
}

@media (hover: hover) and (pointer: fine) {
    .day:hover {
        /* using a brightness filter instead of background color allows 
        transition fade without impacting color changes from month switching */
        filter: brightness(1.5);
    }
}

@media (max-width: 500px) {
    .calendar {
        border-radius: .5em;
    }

    .top-bar .month {
        font-size: 1.4em;
    }

    .top-bar .arrow {
        font-size: 1.3em;
    }
}