#codeword {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: default;
}

.codeword {
    height: 100svh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#codeword-display {
    font-size: 8em;
    font-family: monospace;
}

.logout {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: min(2em, 6vw);
    cursor: pointer;
}

@media (max-width: 425px) {
    .codeword {
        justify-content: flex-start;
        padding-top: 25%;
    }
}
