.dropdown {
    border: 2px solid #555;
    border-radius: 0.5em;
    margin-top: 0.5em;
    display: none;
    overflow: hidden;
    background-color: black;
}

.dropdown.open {
    display: block;
}

.dropdown-item,
.dropdown-text {
    font-size: 1.2em;
    padding: 0.2em 0.5em;
    color: #ccc;
    user-select: none;
}

.dropdown-item {
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-text {
    font-weight: 600;
    color: #eee;
}

.dropdown-heading {
    font-weight: 600;
    color: #888;
    padding-top: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.dropdown-separator {
    height: 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
}

@media (hover: hover) and (pointer: fine) {
    .dropdown-item:hover {
        background-color: #222;
    }
}