main.entry {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100svh;
    flex-direction: column;
}

.content {
    width: min(40em, 90vw);
    height: min(35em, 85vh);
    position: relative;
    font-size: min(1.3em, 4vw);
    transition: opacity 0.2s;
}

main.entry .date {
    position: absolute;
    top: .4em;
    font-size: 1.7em;
    color: #ccc;
    font-weight: 700;
}

.line {
    width: 2px;
    position: absolute;
    height: 100%;
    background-color: #333;
    margin-left: 2em;
    z-index: 1;
}

#loadingEntry {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: min(2em, 6vw);
    width: min(30em, 95vw);
    text-align: center;
}

@media (max-width: 1350px) {
    main.entry {
        justify-content: flex-start;
    }

    .content {
        margin-bottom: 12.5em;
        margin-top: 3em;
    }
}

@media (max-width: 700px) {
    .bubble {
        position: relative;
        width: 90%;
        bottom: unset;
        right: unset;
        margin-top: 1em;
    }

    .content.short {
        margin-bottom: 17.5rem;
    }

    .content {
        margin-bottom: 14rem;
        margin-top: 3em;
        height: 100%;
        font-size: 1.1em;
    }

    .line.visible {
        display: none;
    }

    main.entry .date {
        font-size: 1.2em;
        top: .8em;
    }
}