main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.nav-link {
    color: #ccc;
    font-size: 2em;
    font-weight: 400;
    transition: color 0.3s;
}

#lastYear.inactive {
    opacity: .25;
    pointer-events: none;
}

.stats {
    position: absolute;
    bottom: 0.3em;
    left: 0.4em;
    font-size: min(1.6em, 4vw);
}

.key {
    position: absolute;
    top: 0.8em;
    left: 0.9em;
    display: flex;
    gap: 0.8em;
}

.key a {
    cursor: pointer;
}

.key-button {
    font-size: min(2em, 6vw);
}

.key-arrow {
    font-size: min(0.9em, 3.5vw);
    translate: -0.3em 0.2em;
}

.bottom-right {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.bottom-right a {
    font-size: 2em;
    cursor: pointer;
    display: flex;
}

#keyless-bar {
    font-size: 1.5em;
    margin-bottom: 2em;
    padding: 0.2em 3em;
    background: linear-gradient(90deg, #000 0%, #300 20%, #300 80%, #000 100%);
}

#offline {
    position: absolute;
    width: 100%;
    top: .6em;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #888;
    pointer-events: none;
    animation: offlineFadeIn .3s;
}

@keyframes offlineFadeIn {
    from {
        translate: 0 -.2em;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

/* only show hover effects if mouse exists */
@media (hover: hover) and (pointer: fine) {
    .nav-link:hover {
        color: #fff;
    }
}

@media (max-width: 500px) {

    .stats {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    .stats {
        font-size: min(1.6em, 5vw);
    }

    #keyless-bar {
        margin-bottom: 0.5em;
    }
}